<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/favicon.ico" rel="icon">
  <title>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_html }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/default.css" rel="stylesheet">
  <script>const TAG = "{{ site.time | date: '%s%N' }}";</script>
</head>
