<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include header.html %}

    <main role="main" class="inner cover">
      {{ content }}
    </main>

    {% include footer.html %}
  </div>

  <template id="carousel-template-image">
    <div class="carousel-item">
      <a target="_blank"><img class="d-block w-100 img-fluid"></a>
      <div class="carousel-caption d-none d-md-block">
        <p><a></a>&nbsp;<a>info</a></p>
      </div>
    </div>
  </template>

  {% include scripts.html %}
</body>
</html>
