<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="favicon.ico" rel="icon">
  <title>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_html }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/default.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">usethetypes.com</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
          <a class="nav-link {% if page.url == '/features.html' %}active{% endif %}" href="/features">Features</a>
          <a class="nav-link {% if page.url == '/contact.html' %}active{% endif %}" href="/contact">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      {{ content }}
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>&copy; 2018 usethetypes.com</p>
      </div>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <script src="index.js"></script>

  <template id="carousel-template-image">
    <div class="carousel-item">
      <a target="_blank"><img class="d-block w-100 img-fluid"></a>
      <div class="carousel-caption d-none d-md-block">
        <p><a></a>&nbsp;<a>info</a></p>
      </div>
    </div>
  </template>
</body>
</html>
