<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include header.html %}

    <main role="main" class="inner transcript">
      <h2>{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip_html }}</h2>

      <p>
        <a href="https://youtu.be/{{ page.youtube_id }}">Watch video in YouTube</a>
      </p>
      <p>
        <a href="https://github.com/usethetypes/usethetypes-{{ page.episode_id | prepend: '000' | slice: -3, 3 }}-{{ page.slug }}">Source code in GitHub</a>
      </p>

      {{ content }}
    </main>

    {% include footer.html %}
  </div>

  {% include scripts.html %}
</body>
</html>
